<!DOCTYPE html>
<html >
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
            <input name="advertiserChosen" type="hidden" value=""/>

			<h1>Advertisers</h1>
			<div >
                <h3> Choose Advertiser </h3>

                <select id="selectAdvs" onchange="onChange()"  >
                     <% result.forEach(function(res) { %>
                        <option value ="<%= res.ad_addr %>"> <%= res.ad_addr %></option>
                    <% }); %>
                </select>
			</div>
            <h2> Aggregators for this Advertiser </h2>
            <div>
            <table id="selectAggs" align="center" border="2" style="width:100%">
                <thead> <tr>
                <th> Aggregator </th>
                <th> RSSI </th>
                <th> Last seen at </th>
                </tr> </thead>
                <tbody> <tr>
                </tr></tbody>
            </table>
            </div>
		</div>
	</div>

	<div class="container">
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
    <script type="text/javascript">

        function onChange() {
            var selectBox = document.getElementById("selectAdvs");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            alert(selectedValue);
            //session.setAttribute("advertiserChosen", selectedValue);

    }
    </script>

</body>
</html>
