<!DOCTYPE html>
<html >
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
            <input name="advertiserChosen" type="hidden" value=""/>

			<h2>Alpha Nodus Location Mapping</h2>
			<div >
                <form action="/advertisers" method="post">
                 <input type="hidden" name="adv" value="<%= result[0].ad_addr %> ">
                <select id="selectAdvs" name="selectAdvs">
                    <optgroup label="Select Advertiser">
                     <% result.forEach(function(res) { %>
                        <option value ="<%= res.ad_addr %>"> <%= res.ad_addr %></option>
                    <% }); %>
                </select>
                <input type="submit"/>
            </form>
			</div>
		</div>
	</div>

	<div class="container">
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
    <script type="text/javascript">

        function onChange() {
            var selectBox = document.getElementById("selectAdvs");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            alert(selectedValue);
            /*$.post('/advertisers', {message: selectedValue}, function(returnedData){
                        console.log("Post returned data: " + returnedData);
                        });
*/
            //session.setAttribute("advertiserChosen", selectedValue);

    }
    </script>

</body>
</html>
