<!DOCTYPE html>
<html >
<% include header %>
<body>
	<% include navbar %>

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="container">
            <h2> Advertiser <%= result[0].ad_addr %> last seen at these times: Select one to see location at that time
            </h2>
            <div>
            <form action="/aggregators" method="post">
             <input type="hidden" name="adv" value="<%= result[0].ad_addr %> ">
            <select id="selectTime" name="selectTime">
                <% result.forEach(function(res) { %>
                <option>
                    <%= res.updatetime %>
                </option>
                <% }); %>
            </select>
            <input type="submit"/>
            </form>
            </div>
		</div>
	</div>
            


	<div class="container">
		<hr>

		<% include footer %>
	</div>
	<!-- /container -->
	<script type="text/javascript">
		$(document).ready(function() {
			$('#home').addClass("active");
		});
	</script>
</body>
</html>

